# Web framework
Flask==3.0.3
black
fastapi
uvicorn
dotenv

# Data validation
pydantic
pydantic-settings
python-multipart

# Logging
python-json-logger
PyYAML

# Testing
pytest==8.3.3
pytest-mock==3.14.0
